@model IEnumerable<EventManager.Models.Event>

@{
    ViewBag.Title = "MyEvents";
}

<h2>Мои мероприятия</h2>

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th>
                Информация
            </th>
            <th>
                Дата и Время
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Information)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.ActionLink("Отменить регистрацию", "Unregister", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Вы не зарегистрированы ни на одно мероприятие.</p>
    <p>  </p>
    <p>@Html.ActionLink("Просмотреть доступные мероприятия", "Index")</p>
}
 
